.btn {
  border-radius: 12px;
  background-color: var(--main-color);
  border: transparent;

  padding: 16px 88px;

  font-weight: 700;
  line-height: 20px;

  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--main-bg-color);
}

.header {
  background-color: #121417;
  color: var(--white);
  padding: 14px 39px;
}

.header:hover {
  background-color: #12141779;
}

.mt_32 {
  margin-top: 64px;
}

.mt_64 {
  margin-top: 64px;
}
.m_64auto {
  display: block;
  margin: 64px auto 64px auto;
}
